body {
	background-color: #272d44;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
	color: #d2dff7;
	text-align: center;
	font-size: 3em;
	font-family: inherit;
	word-break: normal;
}

h3 {
	color: #d2dff7;
	text-align: center;
	font-size: 1em;
	font-family: inherit;
	margin: 0;
	padding-bottom: 0.3em;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

#button-menu {
	font-size: 1.5em;
	text-align: center;
	width: 100%;
	margin: 0 auto;
	max-width: 600px;
	padding-bottom: 0.3em;
}

.button {
	width: auto;
	background-color: #272d44;
	color:  #d2dff7;
	border: 1px solid #d2dff7;
	font-family: inherit;
	float: left;
	border-radius: 5%;
	margin: 2px;
}

#square-group {
	width: 100%;
	margin: 0 auto;
	max-width: 600px;
}

.square {
	width: 30%;
	background: #d2dff7;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 10%;
}

#picked-color {
	font-size: 1.2em;
}

.hide-square {
	opacity: 0;
}

.active {
	background-color: #d2dff7;
	color:  #272d44;
}
